# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mini_slack
DATABASE_URL=postgresql://postgres:password@localhost:5432/mini_slack

REDIS_URL=redis://localhost:6379

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=